@model ClienteDetalleModelo

<div class="modal-header" style="height:113px;border:none;">
    <h5 class="modal-title" id="modalCuentaDetalle">@Model.Cuenta</h5>
    <div class="pull-right">
        <div class="row" style="margin-right:10px;">
            <a id="btnEditarDetalle" data-dismiss="modal" href="javascript:void(0)" data-clienteid="@Model.ClienteId" onclick="editarCliente(this)" class="btn btn-secondary btn-sm mr-2">Editar</a>
            <div class="dropdown btn-group">
                <button class="btn btn-danger btn-sm dropdown-toggle mr-2" type="button" id="ddd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nueva transacción
                </button>
                <div class="dropdown-menu nuevaTransaccion" aria-labelledby="ddd">
                    <a class="dropdown-item" href="javascript:void(0)" onclick="crearFactura()">Factura</a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick="crearPagoRecibido()">Pago recibido</a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick="crearOrden()">Orden de trabajo</a>
                    <a class="dropdown-item" href="javascript:void(0)">Nota de crédito</a>
                    <a class="dropdown-item" href="javascript:void(0)">Gastos</a>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="tabDetalleCliente ct w-100" style="position:absolute;top:71px;margin-left:-15px">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#informacion-general" role="tab" aria-controls="home" aria-selected="true">Información general</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#comentarios" role="tab" aria-controls="profile" aria-selected="false">Comentarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ventas" role="tab" aria-controls="contact" aria-selected="false">Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#correos" role="tab" aria-controls="contact" aria-selected="false">Correos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#estadocuenta" role="tab" aria-controls="contact" aria-selected="false">Estado de cuenta</a>
            </li>
        </ul>
    </div>
</div>

@Html.HiddenFor(model => model.ClienteId)
<div class="modal-body" style="top:111px;padding:0">
    <div class="form-row">
        <div class="col-md-12">
            <div class="tabDetalleCliente">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="informacion-general" role="tabpanel" aria-labelledby="home-tab">
                        <div class="det">
                            <div class="detalle-info">
                                <div class="panel panel-default">
                                    <div class="group panel-body">
                                        <div class="person row">
                                            <div class="col-md-2">
                                                <img src="@Url.Content("~/Content/img/5973cfe4f549038fd9ef21f5260f1afe.png")" class="cp-pic">
                                            </div>
                                            <div class="col-md-10">
                                                <strong>@Model.Saludo.DescripcionAtributo() @Model.Cuenta</strong>
                                                @if (Model.Email.TieneValor())
                                                {
                                                    <br> @Model.Email
                                                }
                                                @if (Model.Telefono.TieneValor() && Model.Movil.TieneValor())
                                                {
                                                    <br><span>Tel. Fijo: @Model.Telefono</span><span>-</span><span>Móvil: @Model.Movil</span>
                                                }
                                                else if (Model.Telefono.TieneValor() && Model.Movil.EsVacio())
                                                {
                                                    <br><span>Tel. Fijo: @Model.Telefono</span>
                                                }
                                                else
                                                {
                                                    <br><span>Móvil: @Model.Movil</span>
                                                }
                                                @if (Model.FechaNacimiento.HasValue)
                                                {
                                                    <br><span>Fecha de Nacimiento:</span> @Model.FechaNacimiento.Value.ConvertirFechaCorta()
                                                }
                                                <br />
                                                @if (Model.EstadoPortal)
                                                {
                                                    <small class="text-success">
                                                        Portal habilitado
                                                    </small>
                                                }
                                                else
                                                {
                                                    <small class="text-danger">
                                                        Portal no habilitado
                                                    </small>
                                                }
                                                <div class="line-seperator">
                                                    <small class="">
                                                        <a href="javascript:void(0)" data-clienteid="@Model.ClienteId" onclick="editarCliente(this)" data-dismiss="modal">Editar</a>
                                                    </small>
                                                    <small class="col">
                                                        <a href="javascript:void(0)">Enviar correo electrónico</a>
                                                    </small>
                                                    <small class="col">
                                                        <a href="javascript:void(0)">Invitar</a>
                                                    </small>
                                                    <small class="col">
                                                        <a href="javascript:void(0)" data-clienteid="@Model.ClienteId" onclick="eliminarCliente(this)">Eliminar</a>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h4 class="mb-0">
                                                <a class="btn btn-link f-s-14" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    DIRECCIÓN
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="pt-2 pl-1">
                                                <label>Dirección de Facturación</label>
                                                <address class="text-muted font-small ember-view">
                                                    <pre>@Model.DireccionFacturacion</pre>
                                                    <pre>@Model.DistritoFacturacion</pre>
                                                    <pre>@Model.DepartamentoFacturacion</pre>
                                                </address>
                                                <br />
                                                <label>Dirección de Envio</label>
                                                <address class="text-muted font-small ember-view">
                                                    <pre>@Model.DireccionEnvio</pre>
                                                    <pre>@Model.DistritoEnvio</pre>
                                                    <pre>@Model.DepartamentoEnvio</pre>
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h4 class="mb-0">
                                                <a class="btn btn-link collapsed f-s-14" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                    OTROS DETALLES
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                                            <div class="row mt-3">
                                                <div class="form-row col-md-12">
                                                    <label class="col-md-5 text-muted">
                                                        Observaciones
                                                    </label>
                                                    <div class="col-md-7 edit-form-field">
                                                        @Model.Observaciones
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="form-row col-md-12">
                                                    <label class="col-md-5 text-muted">
                                                        Horario de Atención
                                                    </label>
                                                    <div class="col-md-7 edit-form-field">
                                                        <p class="mb-0">Lunes-Viernes: @Model.LunesViernesManianaInicio.ConvertirHoraCorta() - @Model.LunesViernesManianaFin.ConvertirHoraCorta()</p>
                                                        <p>Sabados: @Model.SabadoManianaInicio.ConvertirHoraCorta() - @Model.SabadoManianaFin.ConvertirHoraCorta()</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-row col-md-12">
                                                    <label class="col-md-5 text-muted">
                                                        Cuenta Bancaria:
                                                    </label>
                                                    <div class="col-md-7 edit-form-field">
                                                        <p class="mb-0">
                                                            <span class="font-weight-bold">@Model.EntidadFinanciera</span> - @Model.NumeroCuenta
                                                        </p>
                                                        <p>@Model.TitularCuenta</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row inline-fields">
                                                <div class="form-row col-md-12">
                                                    <label class="col-md-5 text-muted">
                                                        Cód. de moneda
                                                    </label>
                                                    <div class="col-md-7 edit-form-field">
                                                        @Model.Moneda
                                                        @*<a data-test-action="edit-action" data-ember-action="" data-ember-action-1715="1715"> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon icon-xsmall icon-pencil cursor-pointer text-muted"><path d="M469.6 42.4C420.9-6.2 382.3-.2 378.1.7l-4.8 1L42.1 332.8c-3.4 3.4-5.8 7.8-6.8 12.5L1.3 506c-.6 2.8 1.9 5.3 4.7 4.7l160.7-34.1c4.7-1 9.1-3.4 12.5-6.8l331.2-331.2.9-4.9c.9-4.1 6.7-42.8-41.7-91.3zM43.2 464l20.2-95.2c.5-2.3 2.8-3.7 5.1-3 12.4 3.9 29.7 12 46.3 28.6 17.1 17.1 26 35.8 30.5 49.2.8 2.3-.6 4.7-3 5.2l-94.4 20c-2.8.6-5.3-1.9-4.7-4.8zm135.6-39.4c-2 2-5.4 1.3-6.5-1.3-6.5-15.6-17.1-34.3-34.6-51.8C121.2 355 104 345 89.4 339c-2.6-1.1-3.3-4.5-1.3-6.5l150.8-150.8 95.5-95.5c1-1 2.3-1.4 3.7-1.1 11.8 2.5 34.1 9.9 55.1 30.9 21.4 21.4 29.9 45.4 33.2 58.2.3 1.4 0 2.8-1 3.8l-95.1 95.1-151.5 151.5zm278.4-278.4c-2 2-5.4 1.3-6.5-1.3-6.5-15.6-17.1-34.3-34.6-51.8-16.5-16.5-33.7-26.5-48.3-32.5-2.6-1.1-3.3-4.5-1.3-6.5L387 33.7c.9-.9 2-1.3 3.2-1.2 9.8 1 30.3 6.6 56.5 32.8 26.2 26.2 31.8 46.8 32.8 56.5.1 1.2-.3 2.4-1.2 3.2l-21.1 21.2z"></path></svg> </a>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row inline-fields">
                                                <div class="form-row col-md-12">
                                                    <label class="col-md-5 text-muted"> Estado del portal </label>
                                                    <div class="col-md-7">
                                                        @if (!Model.EstadoPortal)
                                                        {
                                                            <span class="text-muted"> Deshabilitada -</span>
                                                            <a href="javascript:void(0)" class="font-xs">habilitar</a>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-success"> Habilitada </span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row inline-fields">
                                                <div class="form-row col-md-12">
                                                    <label class="col-md-5 text-muted">
                                                        Idioma del portal
                                                    </label> <div class="col-md-7 edit-form-field">
                                                        @Model.Idioma
                                                        @*<a data-test-action="edit-action" data-ember-action="" data-ember-action-1720="1720"> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon icon-xsmall icon-pencil cursor-pointer text-muted"><path d="M469.6 42.4C420.9-6.2 382.3-.2 378.1.7l-4.8 1L42.1 332.8c-3.4 3.4-5.8 7.8-6.8 12.5L1.3 506c-.6 2.8 1.9 5.3 4.7 4.7l160.7-34.1c4.7-1 9.1-3.4 12.5-6.8l331.2-331.2.9-4.9c.9-4.1 6.7-42.8-41.7-91.3zM43.2 464l20.2-95.2c.5-2.3 2.8-3.7 5.1-3 12.4 3.9 29.7 12 46.3 28.6 17.1 17.1 26 35.8 30.5 49.2.8 2.3-.6 4.7-3 5.2l-94.4 20c-2.8.6-5.3-1.9-4.7-4.8zm135.6-39.4c-2 2-5.4 1.3-6.5-1.3-6.5-15.6-17.1-34.3-34.6-51.8C121.2 355 104 345 89.4 339c-2.6-1.1-3.3-4.5-1.3-6.5l150.8-150.8 95.5-95.5c1-1 2.3-1.4 3.7-1.1 11.8 2.5 34.1 9.9 55.1 30.9 21.4 21.4 29.9 45.4 33.2 58.2.3 1.4 0 2.8-1 3.8l-95.1 95.1-151.5 151.5zm278.4-278.4c-2 2-5.4 1.3-6.5-1.3-6.5-15.6-17.1-34.3-34.6-51.8-16.5-16.5-33.7-26.5-48.3-32.5-2.6-1.1-3.3-4.5-1.3-6.5L387 33.7c.9-.9 2-1.3 3.2-1.2 9.8 1 30.3 6.6 56.5 32.8 26.2 26.2 31.8 46.8 32.8 56.5.1 1.2-.3 2.4-1.2 3.2l-21.1 21.2z"></path></svg> </a>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h4 class="mb-0">
                                            <a class="btn btn-link collapsed f-s-14" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                PERSONAS DE CONTACTO (@Model.CantidadContactos)
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
                                        <div class="card-body">
                                            @foreach (var c in Model.Contactos)
                                            {
                                                <div class="person row pt-2 pb-2">
                                                    <div class="col-md-2">
                                                        <img src="@Url.Content("~/Content/img/5973cfe4f549038fd9ef21f5260f1afe.png")" class="cp-pic">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <strong>@c.Nombre @c.Apellidos</strong> <br> @c.Email
                                                        @if (c.Telefono.TieneValor() && c.Movil.TieneValor())
                                                        {
                                                            <br><span>Tel. Fijo: @c.Telefono</span><span>-</span><span>Móvil: @c.Movil</span>
                                                        }
                                                        else if (c.Telefono.TieneValor() && c.Movil.EsVacio())
                                                        {
                                                            <br><span>Tel. Fijo: @c.Telefono</span>
                                                        }
                                                        else
                                                        {
                                                            <br><span>Móvil: @c.Movil</span>
                                                        }
                                                        <br />
                                                        <small class="text-danger">Portal no habilitado</small>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="pull-right cursor-pointer ember-view">
                                                            <span class="ember-view"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon icon-sm icon-cog"><path d="M258.3 149.8c-57.3 0-103.9 46.6-103.9 103.9 0 57.3 46.6 103.9 103.9 103.9s104-46.6 104-103.9c0-57.3-46.6-103.9-104-103.9zm0 175.9c-39.7 0-71.9-32.3-71.9-71.9 0-39.7 32.3-71.9 71.9-71.9 39.7 0 71.9 32.3 71.9 71.9.1 39.6-32.2 71.9-71.9 71.9z"></path><path d="M491.4 202.9l-38.7-14c-3-9.5-6.6-18.6-10.7-27.1l18.3-38.3c5.6-11.8 3.2-26-6-35.2l-30.5-30.6c-9.3-9.3-23.4-11.7-35.2-6.1l-38.2 18.1c-8.1-3.8-16.7-7.1-27.1-10.3l-14-38.7C304.9 8.5 293.2.4 280.2.4h-43.6c-12.9 0-24.6 8.2-29.1 20.4l-14.1 38.8c-9.7 3.1-18.8 6.7-27.1 10.7l-38.2-18.4c-11.8-5.6-26-3.2-35.2 6L62.1 88.3c-9.3 9.3-11.7 23.5-6 35.3l18 37.8c-5.2 9.8-9.2 18.7-12.2 27l-40.8 14.2C8.6 207 .2 218.7.2 232v43.3c0 13.2 8.4 25 20.7 29.2l40.9 14.3c3.1 8.8 6.9 17.7 11.7 27.1L55.6 384c-5.6 11.9-3.2 26 6.2 35.2L92.6 450c9.2 9.2 23.4 11.7 35.2 6l38.1-18.1c9.7 5.2 18.6 9.2 27.1 12.2l14.2 40.8c4.3 12.5 16 20.8 29.3 20.8h43.3c13.2 0 25-8.4 29.3-20.8l14.2-40.9c8.9-3.1 18-7 27.1-11.7l38.1 17.9c11.8 5.6 26 3.1 35.3-6.2l30.7-30.9c9.2-9.2 11.6-23.3 6-35.2l-18.2-38.4c3.8-8 7.1-16.6 10.3-27.1l38.6-14c12.3-4.3 20.6-16 20.6-29V232c0-13-8.2-24.7-20.4-29.1zm-11.6 71.8l-38.5 14c-9.2 3.3-16.1 10.6-19 19.9v.1c-2.8 9.3-5.7 16.8-8.9 23.5-4.1 8.5-4.2 18.3-.1 26.7l18.2 38.3-29.7 29.9-38-17.9c-8.9-4.1-18.8-4-27.3.5-8 4.1-16 7.6-23.7 10.3-8.9 2.9-16.1 10.1-19.3 19.1l-14.2 40.7h-41.8L223.2 439c-3.1-8.9-10-15.9-19-19-7.3-2.6-15-6.1-23.7-10.7s-19.1-4.8-27.9-.6l-37.9 18-29.9-29.8 17.9-37.9c4.1-8.9 4-18.9-.5-27.3-4.3-8.3-7.7-16.1-10.3-23.9-3.1-8.9-10.2-16-19.1-19.1l-40.6-14.2v-41.8l40.7-14.2c8.9-3.1 15.9-10 19-18.9 2.5-7 6-14.7 10.7-23.5 4.6-8.6 4.9-19 .6-27.9l-18-37.8L115 80.9l38 18.3c8.5 4.1 18.6 4 27.1-.2 7.1-3.5 15.1-6.6 23.6-9.3 9-2.9 16.3-9.9 19.6-19l14-38.5h42.1l13.9 38.4c3.3 9.2 10.6 16.1 19.9 19h.1c9.2 2.8 16.6 5.6 23.4 8.9 8.6 4.1 18.3 4.1 26.8.1l38-18 29.5 29.6-18.2 38-.1.2c-4 8.7-4 18.5.2 26.9 3.6 7.4 6.7 15.3 9.3 23.5 2.7 9 9.8 16.4 18.9 19.8l38.5 14v42.1z"></path></svg></span> <ul id="ember1904" class="dropdown-menu ember-view">
                                                                <li><a data-ember-action="" data-ember-action-1905="1905">Editar</a></li>
                                                                <li><a data-ember-action="" data-ember-action-1906="1906">Marcar como principal</a></li>
                                                                <li><a data-ember-action="" data-ember-action-1907="1907">Enviar correo electrónico</a></li>
                                                                <li>
                                                                    <a data-ember-action="" data-ember-action-1908="1908">Volver a invitar</a>
                                                                </li>
                                                                <li><a data-ember-action="" data-ember-action-1909="1909">Eliminar</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="prim-info">
                                <div class="col-md-12">
                                    <ul class="list-unstyled list-inline row arapdetails ember-view">
                                        <li class="col-md-4 text-center">
                                            <h6 class="text-muted">Créditos sin usar</h6>
                                            <div class="cursor-pointer" data-ember-action="" data-ember-action-26772="26772">PEN0.00</div>
                                        </li>
                                        <li class="col-md-4 text-center">
                                            <h6 class="text-overdue">Importes pendientes de cobro</h6>
                                            <div data-ember-action="" data-ember-action-26773="26773">@string.Format("{0}{1}", Model.Moneda, Model.ImportePendienteCobro.FormatearADecimales())</div>
                                        </li>
                                        <li class="col-md-4 text-center">
                                            <h6 class="tex-muted">Fecha de vencimiento del pago</h6>
                                            <span class="font-xlarge">@Model.ModoPago</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    <div class="chart-content">
                                        <div class="clearfix">
                                            <span style="margin-right: 10px;" class="font-large text-muted pull-left text-light">Ingresos y gastos</span>
                                            <div class="pull-right ddIG font-xs">
                                                <div style="margin-right:10px;" class="pull-right list-title">
                                                    <input type="hidden" value="@RangoFecha.Ultimos6Meses" id="txtRango" />
                                                    <a href="#" id="dpFechas" data-toggle="dropdown" class="dropdown-toggle text-decoration-none">
                                                        <span class="DescripcionRango">Últimos 6 meses</span>
                                                        <b class="caret"></b>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" data-rango="@RangoFecha.AñoFiscalActual" href="javascript:void(0)">Este año fiscal</a>
                                                        </li>
                                                        <li><a class="dropdown-item" data-rango="@RangoFecha.AñoFiscalAnterior" href="javascript:void(0)">Año fiscal anterior</a></li>
                                                        <li><a class="dropdown-item" data-rango="@RangoFecha.Ultimos12Meses" href="javascript:void(0)">Últimos 12 meses</a></li>
                                                        <li><a class="dropdown-item" data-rango="@RangoFecha.Ultimos6Meses" href="javascript:void(0)">Últimos 6 meses</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width:100%;height:150px;padding:15px">
                                            <canvas id="graficoVentas"></canvas>
                                        </div>
                                        <div>
                                            <section class="cd-timeline js-cd-timeline dc">
                                                @foreach (var a in Model.Actividades)
                                                {
                                                    <div class="cd-timeline__container">
                                                        <div class="cd-timeline__block js-cd-block">
                                                            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon-comment icon icon-xs text-bottom "><path d="M256.7.2C116.9.2 3.1 115 3.1 255.9 3.1 323.5 29.2 385 72 430.8c-13.5 17.1-45.6 56.7-59.8 63.7-27.6 13.7 9.6 21.3 52.4 12.5 23.1-4.8 47.8-14.2 64.9-30.1 37.5 22 81 34.7 127.3 34.7 139.9 0 253.7-114.8 253.7-255.7S396.6.2 256.7.2zm0 471.5c-118 0-214.1-96.9-214.1-215.8S138.7 40.1 256.7 40.1 470.8 137 470.8 255.9s-96.1 215.8-214.1 215.8z"></path><path d="M115.4 220.7h279.8c10.9 0 19.7-8.9 19.6-19.9 0-11-8.8-19.9-19.7-19.9H115.4c-10.9 0-19.7 8.9-19.7 19.9 0 11 8.8 19.9 19.7 19.9zM395.2 291.2H115.4c-10.9 0-19.7 8.9-19.7 19.9 0 11 8.8 19.9 19.7 19.9h279.8c10.9 0 19.6-8.9 19.6-19.9.1-11-8.7-19.9-19.6-19.9z"></path></svg>
                                                            </div>
                                                            <div class="cd-timeline__content js-cd-content">
                                                                <div class="arrow"></div>
                                                                <div class="text-muted tiempo">
                                                                    <small>@a.Fecha</small>
                                                                </div>
                                                                <p class="text-regular">
                                                                    @a.Titulo.DescripcionAtributo()
                                                                </p>
                                                                <div class="text-muted">
                                                                    @a.Detalle
                                                                    <strong class="text-lowercase"> por @a.Usuario</strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="comentarios" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row" style="margin:20px 50px">
                            <div class="col-md-12 form-group">
                                @Html.TextAreaFor(model => model.NuevoComentario, new { @class = "form-control form-control-sm" })
                                <div class="text-muted"><small>(Para uso interno)</small></div>
                            </div>
                            <div class="col-md-12">
                                <button id="btnAgregarComentario" class="btn btn-danger btn-sm" type="button">Agregar comentario</button>
                            </div>
                        </div>
                        <div style="padding:20px 10px;" id="divComentarios">
                            @Html.Partial("_Comentarios", Model.Comentarios)
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ventas" role="tabpanel" aria-labelledby="contact-tab">
                        @Html.Partial("_Ventas")
                    </div>
                    <div class="tab-pane fade" id="correos" role="tabpanel" aria-labelledby="contact-tab">
                        <div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Enviar a
                                        </th>
                                        <th>
                                            Asunto
                                        </th>
                                        <th>
                                            Fecha Creación
                                        </th>
                                        <th>
                                            Usuario Creación
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var c in Model.Correos)
                                    {
                                        <tr>
                                            <td>@c.EnviarA</td>
                                            <td>@c.Asunto</td>
                                            <td>@c.FechaCreacion</td>
                                            <td>@c.UsuarioCreacion</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="estadocuenta" role="tabpanel" aria-labelledby="contact-tab">
                        @Html.Partial("_EstadoCuenta")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        var $btnEditarDetalle = $("#btnEditarDetalle");
        var ventasCanvas = $("#graficoVentas");
        var $rango = $("#txtRango");
        var $clienteId = $("#ClienteId");
        var chart; /*https://stackoverflow.com/a/51882403*/
        var $btnAgregarComentario = $("#btnAgregarComentario");

        Chart.defaults.global.defaultFontFamily = '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
        Chart.defaults.global.defaultFontSize = 11;

        var chartOptions = {
            legend: {
                display: false
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    /*barPercentage: 1,
                    categoryPercentage: 0.6
                    categorySpacing: -20,*/
                    /*barThickness: 8,*/
                    barPercentage: 0.8,
                    categoryPercentage: 0.4,
                    gridLines: {
                        display: false,
                        color: "#f6f6f66b"
                    },
                }],
                yAxes: [{
                    id: "y-axis-density",
                    gridLines: {
                        color: "#f6f6f6"
                    },
                }
                ]
            }
        };

        chart = new Chart(ventasCanvas, {
            type: 'bar',
            data: {},
            options: chartOptions
        });

        $('#ddd').dropdown();

        var fechasRango = {};
        var labels = [];
        var ingresosDatos = [];
        var gastosDatos = [];

        obtenerDatosGrafico = function () {
            console.log("cargando datos...")
            $.ajax({
                type: 'GET',
                url: URL_BASE + "Grafico/IngresoYGastosCliente",
                data: { clienteId: $clienteId.val(), rango: $rango.val() },
                success: function (data) {
                    labels = [];
                    ingresosDatos = [];
                    gastosDatos = [];
                    for (var e in data.datos) {
                        labels.push(data.datos[e].Nombre);
                        ingresosDatos.push(data.datos[e].Ingresos);
                        gastosDatos.push(data.datos[e].Gastos);
                    }
                    graficar(labels, ingresosDatos, gastosDatos);
                }
            })
        }

        $('.ddIG .dropdown-item').on('click', function () {
            var rango = $(this).data('rango');
            var texto = $(this).text();
            $rango.val(rango);
            $('.DescripcionRango').text(texto);
            obtenerDatosGrafico();
        })

        obtenerDatosGrafico();

        var graficar = function () {
            console.log("graficando...");

            var i = {
                data: ingresosDatos,
                backgroundColor: 'rgb(186, 220, 151)',
                borderWidth: 0,
                yAxisID: "y-axis-density"
            };

            var g = {
                data: gastosDatos,
                backgroundColor: '#f0cf77',
                borderWidth: 0,
                yAxisID: "y-axis-density"
            };

            var fechas = {
                labels: labels,
                datasets: [i, g]
            };

            chart.data = fechas;
            chart.update();
        }

        $(document).off('click', '#btnAgregarComentario').on('click', '#btnAgregarComentario', function () {
            $.ajax({
                type: 'GET',
                url: URL_BASE + "Cliente/AgregarComentario",
                data: { clienteId: $clienteId.val(), descripcion: $("#NuevoComentario").val() },
                success: function (html) {
                    $("#divComentarios").empty();
                    $("#divComentarios").append(html);
                }
            })
        });
    })
</script>